img {
  height: 3rem;
}
.about {
  height: 100vh;
}

.about-row{
  @include flex-row-center;
section {
  display: flex;
  flex-direction: row;
}
@mixin flex-row-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin flex-row-center {
}
