h1,h2,h3,h4,h5,h6{
  text-align:center;
}
.header{
  font-size:30px;
  background-color:blueviolet;
  width:650px;
  padding:10x;
  margin: 10px auto;
  boreder-radius: 25px;
}
.episode-card {
  width:250 px;
  padding: 10px;
  margin: 10px auto;
  text-align:center;
  background-color:antiquewhite;
  border-radius:20px;
}
.card-img{
  width:70%
}